
%form-title{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 4.8rem;
    color: $primary-color;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 0.5rem;
}
%form-subtitle{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2rem;
    color: $primary-color;
    font-weight: 500;
    margin-bottom: 3.5rem;
}