
html{
    font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

body{
    font-size: $base-fontSize;
    color: $primary-color;
    font-family: 'Microsoft JhengHei',sans-serif;
    line-height: 1.5;
    font-weight: 500;
}

// Text
h1{
    font-size: $font-xlg;
    line-height: 1.3;
}
h2{
    font-size: $font-lg;
    line-height: 1.5;
}
h3{
    font-size: $font-med;
}
h4{
    font-size: $base-fontSize;
}

// Spacing

.container{
    max-width: $container-width;
    margin: 0 auto;

    &--pall{
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        @include pad{
            padding-right: 4.2rem;
            padding-left: 4.2rem;
        }
    }
    &--px{
        padding-right: 1rem;
        padding-left: 1rem;
        @include pad{
            padding-right: 4.2rem;
            padding-left: 4.2rem;
        }
    }
    &--pr{
        padding-right: 1rem;
        @include pad{
            padding-right: 4.2rem;
        }
    }
    &--pl{
        padding-left: 1rem;
        @include pad{
            padding-left: 4.2rem;
        }
    }
    &--py{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    &--pt{
        padding-top: 5rem;
    }
    &--pb{
        padding-bottom: 5rem;
    }
}

// Buttons

button,.button{
    text-align: center;
    color: $white;
    width: 70px;
    font-size: 1.4rem;
    line-height: 1.4;
    background: none;
    outline: none;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;
    display: inline-block;

    &--primary{
        background-color: $primary-button;
        &:hover{
            background-color: darken($primary-button,15%);
        }
    }
    &--secondary{
        background-color: rgba(0,0,0,.35);
        &:hover{
            background-color: rgba(0,0,0,.6);
        }
    }
    &--bg{
       width: 125px;
    }
}

// form 

.form{
    padding: 1.5rem;
    background: $secondary-color;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    max-width: 30rem;
    margin: 0 auto;
    border-top: 3px solid $warning-color;

    &--lg{
        max-width: 62rem;
    }
    
    &__title{
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 900;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    &__area{
        @include pad{
            display: flex;
        }
    }
    &__container{
        position: relative;
        .icon{
            position: absolute;
            top: 3.5rem;
            left: 0.9rem;
            font-size: 1.2rem;
        }
    }
    &__rule{
        margin-bottom: 2.5rem;
        @include pad{
            width: 48%;
            margin-right: 2rem;
        }
    }
    
    &__label{
        line-height: 2.1rem;
    }
    &__box{
        @include pad{
            width: 48%;
        }
    }

    &__input{
        display: block;
        width: 100%;
        padding: 1rem 0.9rem 1rem 3rem;
        font-size: 1.2rem;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0px 1px 0px $secondary-color;
        &:focus{
            outline: none;
        }
    }
    &__alert{
        color: $warning-color;
        font-size: 1.4rem;
        margin-bottom: 3rem;
        display: block;
        &:hover{
            color: #d45441 ;
        }
    }

  
}


//Visibility

.hide-for-desktop{
    @include pad{
        display: none;
    }
}

//helper class
.bg-cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

