
.login{
    background-color: $secondary-color;
    font-weight: 600;
    &__title{
       @extend %form-title;
       text-align: center;
    }

    &__subtitle{
        @extend %form-subtitle;
        text-align: center;
    }
    .form__input.email{
        margin-bottom: 1.5rem;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
    }

}