
//colors

$black: #000000;
$white: #ffffff;
$primary-color: #3D1101 ;
$secondary-color: #EFE9E7 ;
$warning-color: #FF5E45;

// button colors
$primary-button:#F56C23;


// font sizes
$base-fontSize: 1.6rem; //16px
$font-med: 1.8rem; // 18px
$font-lg: 2.4rem; //24px
$font-xlg: 3.6rem; // 36px

//spacing

$container-width: 1024px;
